<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Search</title>
    <style>
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <input type="text" id="searchInput" placeholder="Search for blogs..." />
    <button onclick="searchBlogs()">Search</button>

    <button onClick="viewBlogStats()">View Blog Stats</button>
    <div id="blogStats" class="hidden"></div>
    <div id="blogList"></div>

    <script src="/script.js"></script>
  </body>
</html>
